* {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -7px 7px skyblue;
  cursor: pointer;
}

.animation:hover {
  animation: animation infinite linear 3s;
}

.animation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes animation {
  0% {
    box-shadow: -7px 7px skyblue;
  }
  25% {
    box-shadow: -7px -7px skyblue;
  }
  50% {
    box-shadow: 7px -7px skyblue;
  }
  75% {
    box-shadow: 7px 7px skyblue;
  }
  100% {
    box-shadow: -7px 7px skyblue;
  }
}
